@import url("https://fonts.googleapis.com/css?family=Fira+Sans:400,500,600,700,800");

#signup-container {
  justify-content: center;
    display: flex;
    margin: auto;
    padding-top: 11rem;
    height: 100%;
    width: 100%;
    align-items: center; /*To center horizontally*/
}

#signup-container form {
  width: 30%;
  display: block;
  border: 2px solid "#FFD500";
  border-radius: 25px;
  padding-top:25px;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 10px;
  background: #f7c739
}