@import url("https://fonts.googleapis.com/css?family=Fira+Sans:400,500,600,700,800");

#signin-container {
  justify-content: center;
    display: flex;
    margin: auto;
    padding-top: 11rem;
    height: 100%;
    width: 100%;
    align-items: center; /*To center horizontally*/
}

#signin-container form {
  width: 30%;
  display: block;
  border: 2px solid "#FFD500";
  padding: 10px;
  background: #FFE878
}

.custom-control-label {
  padding-left: 0.5rem;
}

.btn-primary {
  background: #245297;
}